@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Inter", sans-serif;
}

@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-slate-400 focus:outline-none focus:ring focus:ring-blue-400 md:px-6 md:py-3;
  }
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

.dark .loader {
  --c: no-repeat linear-gradient(rgb(138, 136, 136) 0 0);
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

:root {
  --color-bg-toast: var(--color-grey-0);
  --color-text-toast: var(--color-grey-700);
}

.dark {
  --color-bg-toast: var(--color-grey-800);
  --color-text-toast: var(--color-grey-200);
}

/* Light mode */
.rdp {
  --rdp-accent-color: #2563eb; /* blue-600 */
  --rdp-accent-background-color: #dbeafe; /* blue-100 */
  --rdp-background-color: #ffffff; /* white */
  --rdp-day-color: #111827; /* gray-900 */
  --rdp-range-middle-background-color: #bfdbfe; /* blue-200 */
  --rdp-range-end-background-color: #2563eb; /* blue-600 */
  --rdp-range-end-color: #ffffff; /* white */
}

/* Dark mode */
.dark .rdp {
  --rdp-accent-color: #60a5fa; /* blue-400 */
  --rdp-accent-background-color: #1e3a8a; /* blue-900 */
  --rdp-background-color: #111827; /* gray-900 */
  --rdp-day-color: #f9fafb; /* gray-50 */
  --rdp-range-middle-background-color: #1d4ed8; /* blue-700 */
  --rdp-range-end-background-color: #3b82f6; /* blue-500 */
  --rdp-range-end-color: #ffffff; /* white */
}

/* select.rdp-dropdown.rdp-months_dropdown {

} */

select.rdp-dropdown.rdp-months_dropdown {
  @apply px-3 py-2 rounded-md border border-gray-300 bg-white text-gray-800
         dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600;
}

/* Year dropdown select */
select.rdp-dropdown.rdp-years_dropdown {
  @apply px-3 py-2 rounded-md border border-gray-300 bg-white text-gray-800
         dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600;
}
